<h1>Phone number joiner</h1>
{{x-file-input name="files" multiple=false action=(action "didSelectFiles") alt="Choose a File"}}
{{fileName}}
<br>
<p>Column name (optional)</p>
{{input value=columnName}}
<br>
<button {{action "join"}}>Join</button>
<br>
<p>Output</p>
<textarea rows="15" cols="100" id="output">{{output}}</textarea>
<br>
<button class="btn" data-clipboard-target="#output">
    Copy to clipboard
</button>